nav {
	background: #2a2a2a;
	color: #FFF;
	padding: 20px 0px;
}

	nav ul {
		list-style: none;
		padding-top: 20px;
	}

	nav li {
		display: inline-block;
		margin: 0px 10px;
	}

	nav a {
		color: #FFF;
		font-size: 20px;
	}

	/* Header */

	header {
		background: #439f00;
		padding: 100px 0px;
		color: #FFF;
	}

	/* Call to Action */

	.calltoaction {
		background: #999;
		padding: 40px 0px;
	}